/* Resetting */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Main construction */
body, html {height: 100%;}
wrapper {width: auto; height: 100%; display: block; overflow: hidden; background: url('http://edentic.dk/wp-content/themes/edentic_v2/img/structure/header_footer_bg_repeat-xy.jpg');}

/* Slides */
slider {display: block; height: 100%; -webkit-transition: all 500ms ease-out; overflow: hidden;}
slider.drag {-webkit-transition: all 50ms ease-in-out; }
slide {display: block; height: 100%; float: left; background-size: cover !important; background-repeat: no-repeat !important; background-position: center !important; padding: 2em 5em 2em 5em; box-sizing: border-box; overflow: hidden; overflow-y: scroll; box-shadow: inset 1px 1px 16px #000;}


#samtaleboblen {background: url('../img/sam_casebg_.jpg') fixed;}
#scthans {background: url('../img/sf_casebg_.jpg');}

/* Font styles */
slide h2 {font-size: 3em; background: #fff; padding: 0.1em; font-family: Helvetica, sans-serif; font-weight: bold; margin-top: 1em; margin-bottom: 1em;}
slide div {margin-bottom: 1em;}
.caseContent {font-family: Helvetica, sans-serif; color: #fff; background: rgba(0,0,0,0.7); padding: 1em;}
.caseContent p {line-height: 150%;}

/* Menu */
header {background: #000;}
nav li {display: inline-block; }
nav li a {display: block; width: 100%; height: 100%; padding: 1em 0.5em; font-family: Arial, sans-serif;}

/* ::: PHONE ::: */
@media all and (max-width: 320px) {
    slide {padding:  2em 1em 2em 1em}
    slide h2 {font-size: 2em;}
    slider.drag {-webkit-transition: none; }
}